@import "../styles/variables.scss";


section {
    .nav {
        height: 100%;
        padding: $nav-padding;
        margin: $nav-margin;
        display: block;
        position: absolute;
        background-color: black;
        a{
            text-decoration: none;
            color: white;
        }
        .item {
            margin: 30px 0px;
        }
    }
}

.component {
    margin: 0 auto;
    padding: 100px;
    display: block;
    .title {
        margin: 40px 0px;
        text-align: center;
    }
    .login-form {
        text-align: center;
    }
}