@import "../styles/variables.scss";


section {
    .navigate {
        height: 100px;
        display: inline-flex;
        position: absolute;
        text-decoration: none;
        background-color: black;
        color : white;
    }
    .component{

    }
}